<?php
return array(
    'bgintercom' => array(

        //'app_id' => 'YOUR INTERCOM ADD ID HERE',

        //'fallback_created_at_timeStamp' => '1234567890',

        //'created_at_getter_method' => 'getCreatedAt',

        //'user_hash' => 'YOUR INTERCOM USER HASH'

    )
);